p I was born (in 1985) and raised in God's back garden, Yorkshire. In 2006 I graduated with an HND in Graphics & Digital Media and went on to work for a fashion company as a graphic designer and product photographer. Whilst in the role I redesigned the myspace page for one of the company's brands, and with that a success a role for web designer was created for me and I haven't looked back.

p These days, I am more coder than designer, currently in a full time front end development position for reed.co.uk, the UK's number 1 job site, although I feel a solid background in design gives me that extra bit of 'creative flair' (and means I can work well with both designers and developers, business users and end users).

p Away from the computer, I'm a huge music and movie lover, play guitar, take pictures and get out on my bike as often as possible. I also enjoy romantic candlelit suppers, walks on the beach and am known to make an awesome cup of (Yorkshire) tea.

figure
  img(src='/assets/img/venice.jpg', alt='Venice, August 2014')
  figcaption I'm the one on the left