- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1.careers Careers

section.introduction
  :markdown
    We believe people are our greatest asset. We look for dynamic and talented individuals from varied backgrounds and professional disciplines with a passion for finance. If you aspire to be at the cutting edge of asset management and play a key role in delivering the very best, we'd love to hear from you.

  p 
    | If you have any enquiries about a career with AT Asset Management, please 
    a(href='#{baseUrl}/contact', title='Contact us') contact us.