- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1.our-principles 我们的投资原则

section.introduction
  :markdown
    我们所做的一切都遵循着我们机构的文化和品格。这些特质形塑了我们的专业操守和个人信念。这正是我们的根本实力所在。

    我们的原则与核心价值引导着我们的所思所行，使我们得以更锐利聚焦于客户，并成为我们的指南，带领我们时时回归宗旨与信念的根基，特别当我们面对前所未有的局势时。

    公司「客户第一」的原则具体体现在保持最高诚信标准的承诺。为确保此点，在提供可持续的投资回报同时，我们实行高度审慎与明智的决断，再配合深思熟虑的做法，对风险加以管理。

blockquote 
  | 我们相信对基本面的正确了解和诠释对于掌握未来航向至关重要。