- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1.our-principles Our Principles

section.introduction
  :markdown
    Everything we do is guided by a set of principles & values that defines our character and the firm's culture. These qualities are the shared convictions that we bring to our professional and personal conduct. They are fundamental strengths of our business.

    These guiding principles and core values define the way we think and act. They sharpen our focus and act as our compass - which enables us to stay true to our fundamental purpose and beliefs, especially when we are faced with situations we have not come across before.

    Our client-first approach is committed to upholding the highest levels of integrity. To ensure this we exercise prudence and sound judgement as we seek to deliver sustainable investment returns.

blockquote 
  | We believe that understanding and interpreting fundamentals are crucial to successfully navigating what lies ahead.