extend ../_partials/layout

block header
  != partial('../_partials/header')
             
block pre-content
  #map-wrapper(style='width:100%; height:40vh;')
    #map(style='width:100%; height:40vh;')

block content
  != yield

block footer
  != partial('../_partials/footer')



block scripts
  script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=#{google_maps.api_key}&sensor=false")
  script.
    document.addEventListener('DOMContentLoaded', function(){
      var ll = new google.maps.LatLng(1.283405,103.852196);
      var mapOptions = {
        zoom: 15,
        center: ll
      };

      var map = new google.maps.Map(document.getElementById('map'), mapOptions);
      var marker = new google.maps.Marker({
        position: ll,
        map: map
      });
    });

