- var lang = current.path[0] === 'zh' ? 'zh' : '';
- var data = lang !== 'zh' ? public._data : public.zh._data;
- var navigation = data.navigation;
- each title, slug in data.footer_navigation
  - navigation[slug] = title
- var year = (new Date()).getFullYear();

footer#site-footer(role='contentinfo')
  div.info
    div.copyright AT Asset Management &copy; #{year}.
    div.registration Registration Number 201212588D.

  nav.footer-navigation
    ul
      - each title, slug in navigation
        - var href = (lang ? lang + '/' : '') + slug
        li: a(href='/#{href}/', title='#{title}')= title