- var lang = current.path[0] === 'zh' ? 'zh' : '';
- var navigation = lang !== 'zh' ? public._data.navigation : public.zh._data.navigation


nav#main-navigation
  ul
    - each title, slug in navigation
      - var href = (lang ? lang + '/' : '') + slug
      - var path = lang ? current.path[1] : current.path[0]
      if path === slug
        li.selected: a(href='/#{href}/', title='#{title}')= title
      else
        li: a(href='/#{href}/', title='#{title}')= title