- var baseUrl = environment === 'development' ? '' : '/ATAM';

h1.performance Performance

section.introduction
  :markdown
    Our investment philosophy is based on the belief that value can be added through active, fundamental management 
    with a commitment to in-depth, bottom-up research and analysis. Our focused, nimble investment team makes portfolio 
    decisions and are supported by global resources. Active risk management is integral to our investment process as we 
    seek competitive risk-adjusted returns over the long-term.

  p 
    | If you would like further information regarding AT Asset Management's investment performance please 
    a(href='#{baseUrl}/contact', title='Read more about our company') contact us
    | .