h1.services Services

section.introduction
  :markdown
    External Asset Managers have a long heritage of more than 100 years in Europe, especially Switzerland, with 
    up to 30% of all assets under management of some Swiss banks coming from external asset managers. It is set 
    to become an important pillar of the Asian wealth management landscape over the coming years as clients 
    seek an alignment of interests and unbiased views from external asset managers to complement their current 
    banking investment portfolios.

    Our aim is to customise and develop the best possible strategies and solutions for your financial needs.

    We understand that our clients appreciate the value of sound advice and our holistic approach towards wealth 
    preservation and growth which is why we do not offer products or concentrate solely on aggressively growing 
    their portfolios.

    This alignment of interest combined with our open architecture allows us to work closely with the private 
    banks and leverage on other financial institutions to provide a holistic and unbiased solution to each individual 
    client’s needs.

hr

section.investment-philosophy
  h2 Investment philosophy
  :markdown
    Our investment philosophy is based on the belief that value can be added through active, fundamental management 
    with a commitment to in-depth, bottom-up research and analysis. Our focused, nimble investment team makes portfolio 
    decisions and are supported by global resources. Active risk management is integral to our investment process as we 
    seek competitive risk-adjusted returns over the long-term.

section.risk-management
  h2 Risk management
  :markdown
    Managing risk is a fundamental part of our approach to investing. Guided by this philosophy, our investment process 
    aims to generate diversified and balanced portfolios with potential for out-performance over the long-term within 
    controlled risk parameters. AT Asset Management has consistently applied its disciplined, value-driven approach to 
    global and international markets investing.

hr

section.instroduction
  h2 Fund management
  :markdown
    We provide fund management services, not only through our AT Total Return fund, but tailored managed accounts too.

    Test section - more content to follow.

section.trusts
  h2 Trusts
  :markdown
    A family trust is a legal way to hold and protect your assets for you and your family for the future (e.g. investments 
    or property). The assets will be owned by the trust rather than by an individual, and are managed by trustees (e.g. a 
    family member, a lawyer, or an accountant) for the beneficiaries, who are usually family members.

section.pic
  h2 PIC
  :markdown
    A PIC is a corporation established to hold your investment assets. Shareholders can appoint Directors, have management 
    oversight of the PIC, enter into contracts, and delegate the operation of bank accounts to authorised signatories. 
    The beneficial ownership, management and signatories of the PIC can be structured in multiple ways; yet it is a separate 
    legal entity that offers privacy and wealth protection benefits.

section.structuring
  h2 Structuring
  :markdown
    Whether you are looking to establish a new fund or raise new investment for an existing fund, we have necessary contacts to 
    structure your fund in a tax efficient manner.

section.universal-life-insurance
  h2 Universal life insurance
  :markdown
    This solution is designed for customers who want life insurance protection with potential cash value accumulation. Such 
    plans provide the ability to leverage against the cash value with low initial cash outlay and high coverage. Many wealthy 
    individuals invest in universal life insurance for legacy planning, business succession and continuity, and providing 
    charitable gifts for their philanthropic goals.

section.charitable-foundations
  h2 Charitable foundations
  :markdown
    If you or your family wish to make a meaningful and long-lasting contribution for a charitable purpose, a foundation could 
    allow you to achieve your goals while maximising your tax and estate planning benefits. Many philanthropists set up non-profit 
    organisations to fund a wide variety of charitable causes, whether for the advancement of education, healthcare, relief of 
    poverty and other social well-being activities. In Singapore, registered charities will receive income tax exemption benefits.