- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1.our-company Our company

section.introduction
  :markdown
    At AT Asset Management we go beyond investment, building strong client relationships and delivering 
    consistent results. Clients work with our team to select investment vehicles covering the entire asset spectrum 
    including cash, fixed income and equities, as well as a range of alternative offerings such as private equity and 
    hedge funds. Besides our services in wealth management, we can offer you access to our partner networks in 
    corporate and investment banking to meet your business goals.

blockquote 
  | We believe in long term relationships that are built upon high levels of performance and quality of service.
  | When our clients do well, we do well.
  cite
    strong Andy Lim
    span Managing Director

h2 Philosophy

section.philosophy#philosophy
  :markdown
    AT Asset Management aims to build long and lasting relationships with clients that deliver the highest standards 
    whilst providing specialist expertise in the field of portfolio management.

    Driven by care, passion and the commitment to excellence, our goal is to be the trusted partner of our clients 
    by offering dedicated and professional services.

    We think and act as owners of our clients’ portfolios, to deliver sustainable long term value to our clients.

    Our aim is to develop the best possible strategies in order to assist in servicing your needs. To fulfil our 
    ambition of meeting your goals, we provide you with access to specialists spanning Asia and Europe. Our 
    transparency is a key feature in our relationship and allows you relax, whilst we take care of the rest.

h2 Principles

section.principles#principles
  :markdown
    Our principles and core values define the way we think and act. They sharpen our focus on our clients and act 
    as our compass - having a good compass enables us to get back to our fundamental purpose and beliefs, especially 
    when we are faced with situations we have not come across before.

    Our client-first approach is committed to upholding the highest levels of integrity. To ensure this we exercise 
    prudence and sound judgement combined with a considered approach to managing risks as we seek to deliver 
    sustainable investment returns.

    We are aware that our actions today help shape your tomorrow. Because of this, we have an ongoing commitment to 
    manage your assets respectfully, always taking a considered approach when it comes to your wealth.

h2 Investment philosophy

section.investment-philosophy
  :markdown
    Our investment philosophy is based on the belief that value can be added through active, fundamental management 
    with a commitment to in-depth, bottom-up research and analysis. Our focused, nimble investment team makes portfolio 
    decisions and are supported by global resources. Active risk management is integral to our investment process as we 
    seek competitive risk-adjusted returns over the long-term.
