- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1.our-company Our company

section.introduction
  :markdown
    At AT Asset Management we go beyond investment, building strong client relationships and delivering 
    consistent results. We cover the entire asset spectrum including cash, fixed income and equities, as well as a range of alternative offerings such as private equity and hedge funds. Besides our services in fund management, we can offer access to our partner networks in corporate and investment banking to meet your business goals.

blockquote 
  | We believe in long term relationships that are built upon high levels of performance and quality of service.
  | When our clients do well, we do well.
  cite
    strong Andy Lim
    span Managing Director

h2.title Philosopshy

section.introduction#philosophy
  :markdown
    We build unconstrained portfolios that are rooted in fundamental research, yet poised to benefit from our tactical calls. Armed with the experience and skill to interpret market dynamics, we are able to find the most compelling opportunities in an ever-changing environment.

    Driven by care, passion and the commitment to excellence, our goal is to be the trusted partner of our clients by offering dedicated and professional services. We work hard to identify market trends as they happen.
br
br
br
br
br
br
br
br
br
br
br
br
br

h2.title Principles

section.introduction#principles
  :markdown
    Our principles and core values define the way we think and act. They sharpen our focus and act as our compass - which enables us to stay true to our fundamental purpose and beliefs, especially when we are faced with situations we have not come across before.

    Our client-first approach is committed to upholding the highest levels of integrity. To ensure this we exercise prudence and sound judgement combined with a considered approach to managing risks as we seek to deliver sustainable investment returns.

    Our investment philosophy is based on the belief that value can be added through active, fundamental management with a commitment to in-depth, bottom-up research and analysis. We believe that understanding and interpreting fundamentals are crucial to successfully navigating what lies ahead. Through collaboration and independent thought, we create an open environment that is conducive to producing excellence.