 
.icon-ATAM_chinese_logo {
	background-image: url('png/ATAM_chinese_logo.png');
	background-repeat: no-repeat;
}

 
.icon-ATAM_logo {
	background-image: url('png/ATAM_logo.png');
	background-repeat: no-repeat;
}

 
.icon-ATAM_monogram {
	background-image: url('png/ATAM_monogram.png');
	background-repeat: no-repeat;
}

 
.icon-company_icon {
	background-image: url('png/company_icon.png');
	background-repeat: no-repeat;
}

 
.icon-performance_icon {
	background-image: url('png/performance_icon.png');
	background-repeat: no-repeat;
}

 
.icon-scroll_down {
	background-image: url('png/scroll_down.png');
	background-repeat: no-repeat;
}

 
.icon-scroll_up {
	background-image: url('png/scroll_up.png');
	background-repeat: no-repeat;
}

 
.icon-services_icon {
	background-image: url('png/services_icon.png');
	background-repeat: no-repeat;
}

