@import "_normalize";
@import "_typography";
@import "_sprite";
@import "_variables";
@import "_mixins";

body{
  padding:0;
  background:#fff;
  color:@default-color;
  margin:0;
  font-size:100%;

  // Flexbox
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  
  min-height: 100vh;

  .modal-visible & {
    overflow:hidden;
  }
}

// ==========================================================================
// Mixins
// ==========================================================================

.title(){
  font-size:@h2-font-size;
  text-transform:capitalize;
  letter-spacing:2px;
  text-align:left;
  margin-top:0;
}


// ==========================================================================
// Structural
// ==========================================================================

.wrap{
  .clearfix;
  width:100%;
  max-width:@container-width;
  margin:0 auto;
}

#site-header{
  .box-sizing(border-box);
  font-family:@header-font-family;
  padding:@small-padding;
  .fadein;
  background:#095295;
  background-size:cover;

  #logo{
    float:left;

    a{
      text-indent:-999em;
      display:block;
      width:176px;
      height:44px;
      overflow:hidden;
      .logo;

      &.zh{
        .logo-chinese;
      }
    }
  }

  .menu-button{
    display:block;
    width:40px;
    height:40px;
    float:right;
    position:relative;
    overflow:hidden;

    span,
    span:before,
    span:after{
      content:'';
      border-radius:1px;
      height:4px;
      width:30px;
      left:5px;
      background:#fff;
      position:absolute;
      display:block;
      .transition(all 0.3s ease-in-out);
      text-indent:-999em;
      top:18px;
    }
    span:before{
      left:0;
      top:-10px;
    }
    span:after{
      left:0;
      top:10px;
    }

    .menu-visible & {
      span{
        background:transparent;

        &:before{
          top:0;
          .transform(rotate(-45deg));
        }
        &:after{
          top:0;
          .transform(rotate(45deg));
        }
      }
    }

    @media @small-query{
      display:none;
    }
  }

  #main-navigation{
    display:block;
    background:#fff;
    max-height:0;
    height:auto;
    overflow:hidden;
    .transition(max-height .5s);
    margin:-@small-padding -@small-padding @small-padding;

    ul{
      margin:0;
      padding:@small-margin / 2;
      list-style:none;
      .clearfix;
      position:relative;

      li{
        margin:0 @small-margin / 2 0 0;

        &:last-child{
          margin-right:0;
        }

        a{
          text-transform:uppercase;
          font-size:@h4-font-size;
        }

        &.selected a,
        a:hover{
          color:@secondary-color;
        }

        &.lang{
          position:absolute;
          top:@small-margin/2;

          &.en{
            right:30px;
          }

          &.zh{
            right:@small-margin/2;
          }
        }
      }
    }

    @media screen and (max-width:(@small-screen - 1)) {
      &:target,
      .menu-visible & {
        max-height:300px!important;
      }
    }

    @media @small-query{
      float:right;
      max-height:inherit;
      margin:0;
      background:transparent;

      ul{
        margin:0;
        padding:0;
        list-style:none;
        position:static;

        li{
          float:left;
          line-height:24px;
          height:24px;
          margin-top:10px;

          &:last-child{
            margin-right:0;
          }

          &.selected a,
          a:hover{
            color:@secondary-color;
          }

          &.lang{
            position:static;
            text-align:center;

            &.en{
              margin-left:@small-margin/2;
              margin-right:10px;
            }

            a{
              display:block;
              width:24px;
              height:24px;
              color:#fff;
            }
            &.selected{
              a{
                background:@secondary-color;
                border-radius:50%;
              }
            }
          }

          a{
            color:#fff;
          }
        }
      }
    }
  }

  .fixed & {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:2;
  }

  .sub-navigation{
    background:@default-color;
    -webkit-box-shadow: 0px 5px 50px 5px rgba(0, 0, 0, 1);
      -moz-box-shadow: 0px 5px 50px 5px rgba(0, 0, 0, 1);
      box-shadow: 0px 5px 50px 5px rgba(0, 0, 0, 1);
    margin:@small-padding -@small-padding -@small-padding;
    padding:0 @small-padding;

    ul{
      max-width:960px;
      margin:0 auto;
      padding:5px 0;
      list-style:none;
      font-size:@h4-font-size;
      text-transform:uppercase;

      li{
        display:inline-block;
        margin:0 25px 0 0;

        a{
          color:#fff;

          &:hover{
            color:@secondary-color;
          }
        }

        &.selected a{
            color:@secondary-color;
        }
      }
    }
  }
}

#content{
  .box-sizing(border-box);
  width:100%;
  max-width:@container-width;
  margin:0 auto;
  padding:@small-margin @small-padding @small-padding;
  .fadein;

  // Flexbox
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -ms-flex-preferred-size:auto;

  section{
    margin:0 0 @large-margin;
    text-align:justify;
  }

  .fixed & {
    padding-top:@small-margin + 77px;
  }
}

#site-footer{
  text-align:center;
  .box-sizing(border-box);
  min-height:60px;
  width:100%;
  padding:12px @small-padding;
  background:@footer-background-color;
  color:#fff;
  font-size:@h4-font-size;
  .fadein;

  .info{
    margin:0 auto 1.5em;
    padding:60px 0 0 0;
    .box-sizing(border-box);
    position:relative;

    &:before{
      content:'';
      display:block;
      width:36px;
      height:36px;
      .logo-monogram;
      position:absolute;
      top:0;
      left:50%;
      margin-left:-18px;
    }

    @media @small-query{
      float:left;
      width:50%;
      margin:0;
      padding:0 0 0 46px;

      &:before{
        left:0;
        margin:0;
      }
    }
  }
  .footer-navigation{
    display:block;
    margin:0 auto;

    ul{
      margin:0;
      padding:0;
      list-style:none;

      li{
        display:inline-block;
        margin:0 0 0 5px;
        padding:0 0 0 5px;
        border-left:1px solid #fff;

        &:first-child{
          border:0;
        }

        &:last-child{
          @media @small-query{            
            display:block;
            border:0;
          }
        }

        a{
          color:#fff;
        }
      }
    }

    @media @small-query{
      float:right;
      width:50%;
      text-align:right;
    }
  }

  p{
    .box-sizing(border-box);
    width:auto;
    max-width:@container-width;
    margin:0 auto;
    padding:@small-padding;
    font-size:0.875rem;
  }

  @media @small-query{
    text-align:left;
  }
}

#skip-to-navigation{
  display:none;
  text-indent:-999em;
  width:46px;
  height:46px;
  position:fixed;
  bottom:100px;
  right:60px;
  .icon-scroll-up;
  z-index:10;
  opacity:0;

  @media screen and (min-width:(@container-width + 200)){
    display:block;
  }
}

// ==========================================================================
// Home
// ==========================================================================

.home{
  #site-header{
    min-height:360px;
    background-image:url(../img/hero.jpg);
    background-size:cover;
    position:relative;

    h1{
      .title;
      text-transform:none;
      text-align:center;
      color:#fff;
      position:absolute;
      top:30%;
      left:@small-padding;
      right:@small-padding;
    }

    #skip-to-content{
      display:none;
    }
  }

  #content{
    display:none;
  }
}

// ==========================================================================
// Our company
// ==========================================================================

.our-company{

#main-image-wrapper{
    min-height:30vh;
    background-image:url(../img/office_logo.jpg);
    background-size: cover;
    position:relative;
    @media @small-query{
    min-height:55vh;
    background-image:url(../img/office_logo.jpg);
    background-size: cover;
    position:relative;
    }
    }

  
  #content{
    h1,
    h2{
      .title;
      float:left;

     }

    section{
      &.introduction{
        .clearfix;
        text-align:left;
        float:right;
        width:100%;
        @media @small-query{
        float:right;
        width:65%;
        text-align:left;
        }

    h1,
    h2{
      .title;
      float:left;
      width:30%;
     }
   
      }
      &.philosophy{
        .clearfix;
        text-align:left;
        float:right;
        width:100%;
        @media @small-query{
        float:right;
        width:65%;
        text-align:left;
        }

     h1,
     h2{
      .title;
      float:left;
      width:30%;
     }

      }
      &.principles{
        .clearfix;
        text-align:left;
        float:right;
        width:100%;
        @media @small-query{
        float:right;
        width:65%;
        text-align:left;
        }

      h1,
      h2{
      .title;
      float:left;
      width:30%;
     }

       }
      &.investment-philosophy{
        @media @small-query{
          text-align:left;
          float:right;
          width:65%;
        }
      }
    }

    blockquote{
      clear:both;
      .clearfix;
      font-style:italic;
      font-size:1.25rem;
      letter-spacing:5px;
      border:0;
      position:relative;
      padding:0 @large-padding 3em * 0.7;

      cite{
        color:@default-color;
        letter-spacing:0;
        text-align:right;
        position:absolute;
        bottom:0;
        right:@small-padding;

        strong{
          display:block;
        }

        &:before{
          content:none;
        }        

        @media @small-query{
          right:15%;
        }
      }

      &:before,
      &:after{
        display:inline-block;
        font-size:2em;
        color:@default-color;
        line-height:0.5;
        position:relative;
        top:0.25em;
      }

      &:before{
        content:'\201C';
        margin-left:-.75em;
      }
      &:after{
        content:'\201D';
      }

      @media @small-query{
        padding:0 14% 3em * 0.7;
      }
    }
  }
}

// ==========================================================================
// Our Principles
// ==========================================================================

.our-principles{

#main-image-wrapper{
    min-height:30vh;
    background-image:url(../img/principles.jpg);
    background-size: cover;
    position:relative;
    @media @small-query{
    min-height:55vh;
    background-image:url(../img/principles.jpg);
    background-size: cover;
    position:relative;
    }
    }
  
  #content{
    h1,
    h2{
      .title;
      float:left;
     }

    section{
      &.introduction{
        .clearfix;
        text-align:left;
        float:right;
        width:100%;
        @media @small-query{
        float:right;
        width:65%;
        text-align:left;
        }

    h1,
    h2{
      .title;
      float:left;
      width:25%;
     }
   
      }
      &.philosophy{
        .clearfix;
        text-align:left;
        float:right;
        width:100%;
        @media @small-query{
        float:right;
        width:65%;
        text-align:left;
        }

     h1,
     h2{
      .title;
      float:left;
      width:30%;
     }

      }
      &.principles{
        .clearfix;
        text-align:left;
        float:right;
        width:100%;
        @media @small-query{
        float:right;
        width:65%;
        text-align:left;
        }

      h1,
      h2{
      .title;
      float:left;
      width:30%;
     }

       }
      &.investment-philosophy{
        @media @small-query{
          text-align:left;
          float:right;
          width:65%;
        }
      }
    }

    blockquote{
      clear:both;
      .clearfix;
      font-style:italic;
      font-size:1.25rem;
      letter-spacing:5px;
      border:0;
      position:relative;
      padding:0 @large-padding 3em * 0.7;

      cite{
        color:@default-color;
        letter-spacing:0;
        text-align:right;
        position:absolute;
        bottom:0;
        right:@small-padding;

        strong{
          display:block;
        }

        &:before{
          content:none;
        }        

        @media @small-query{
          right:15%;
        }
      }

      &:before,
      &:after{
        display:inline-block;
        font-size:2em;
        color:@default-color;
        line-height:0.5;
        position:relative;
        top:0.25em;
      }

      &:before{
        content:'\201C';
        margin-left:-.75em;
      }
      &:after{
        content:'\201D';
      }

      @media @small-query{
        padding:0 14% 3em * 0.7;
      }
    }
  }
}

// ==========================================================================
// Services
// ==========================================================================

.services{

#main-image-wrapper{
    position:relative;
    background-image:url(../img/World-Map-On-Hands.jpg);
  }

  #content{
    h1,
    h2{
      .title;
      float:left;
    }

    section{
       &.introduction{
        .clearfix;
        text-align:left;
        float:right;
        width:100%;
        @media @small-query{
        float:right;
        width:65%;
        text-align:left;
        }
      }
      &.investment-philosophy{
        @media @small-query{
          float:left;
          width:45%;
        }
      }
      &.risk-management{
        @media @small-query{
          float:right;
          width:45%;
        }
      }
      &.trusts{
        @media @small-query{
          float:left;
          width:26%;
          margin-right:11%;
        }
      }      
      &.pic{
        @media @small-query{
          float:left;
          width:26%;
        }
      }
      &.structuring{
        @media @small-query{
          float:right;
          width:26%;
        }
      }      
      &.universal-life-insurance{
        @media @small-query{
          clear:both;
          float:left;
          width:45%;
        }
      }
      &.charitable-foundations{
        @media @small-query{
          float:right;
          width:45%;
        }
      }
    }
  }
}

// ==========================================================================
// Our Team
// ==========================================================================

section{
       &.caption{
        width:40%;
        top:28%;
        right:5%;
        text-align:left;
        position:absolute;
        opacity:0;
        @media @small-query{
        width:40%;
        top:55%;
        right:5%;
        text-align:left;
        position:absolute;
        color:#fff;
        opacity:1;
        }
        }
    }

.our-team{

#main-image-wrapper{
    min-height:30vh;
    background-image:url(../img/teamsmall.jpg);
    background-size: cover;
    position:relative;
    @media @small-query{
    min-height:55vh;
    background-image:url(../img/team.jpg);
    background-size: cover;
    position:relative;
    }
    }




  #content{
    h1,
    h2{
      .title;
      float:left;
    }

    section{
      &.introduction{
      .clearfix;
        text-align:left;
        float:right;
        width:100%;
        @media @small-query{
        float:right;
        width:65%;
        text-align:left;
        }
      }
    }
  }
}

// ==========================================================================
// Our Fund
// ==========================================================================

.our-fund{

  #main-image-wrapper{
    min-height:30vh;
    background-image:url(../img/iStock_000019260524_Medium.jpg);
    background-size: cover;
    position:relative;
    @media @small-query{
    min-height:55vh;
    background-image:url(../img/iStock_000019260524_Medium.jpg);
    background-size: cover;
    position:relative;
    }
    }

  #content{
    h1,
    h2{
      .title;
      float:left;
     }

    section{
      &.introduction{
        .clearfix;
        text-align:left;
        float:right;
        width:100%;
        @media @small-query{
        float:right;
        width:65%;
        text-align:left;
        }
      }
    }
  }
}

// ==========================================================================
// Careers
// ==========================================================================

.careers{

  #main-image-wrapper{
    min-height:30vh;
    background-image:url(../img/building-texture.jpg);
    background-size: cover;
    position:relative;
    @media @small-query{
    min-height:55vh;
    background-image:url(../img/building-texture.jpg);
    background-size: cover;
    position:relative;
    }
    }

  #content{
    h1,
    h2{
      .title;
      float:left;
     }

    section{
      &.introduction{
        .clearfix;
        text-align:left;
        float:right;
        width:100%;
        @media @small-query{
        float:right;
        width:65%;
        text-align:left;
        }
      }
    }
  }
}

// ==========================================================================
// Contact
// ==========================================================================

.contact{
  #map-wrapper{
    position:relative;
  }

  .office-image{
    display:none;

    @media @small-query{
      display:block;
      position:absolute;
      bottom:50px;
      right:38px;
      height:200px;
      width:auto;
      border:3px solid #fff;
      z-index:100;
    }
  }

  address{
    text-align:center;
    font-style:normal;
    margin-bottom:@small-margin;

    ul{
      margin:0;
      padding:0;
      list-style:none;

      li{
        display:inline-block;
        margin-right:5px;
        padding-right:5px;
        border-right:1px solid @default-color;

        &:last-child{
          margon:0;
          padding:0;
          border:0;
        }

        a,
        a:hover{
          color:@default-color;
          text-decoration:none;
        }
      }
    }
  }
  #content{
    h1,
    h2{
      .title;
      float:left;
    }

    section{
       &.introduction{
        .clearfix;
        text-align:left;
        float:right;
        width:100%;
        @media @small-query{
        float:right;
        width:66%;
        text-align:left;
        }
      }
    }
  }
}

// ==========================================================================
// Modal
// ==========================================================================

#overlay{
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  background:rgba(0,0,0,0.75);
  display:none;
}

#modal{
  position:fixed;
  height:70%;
  width:90%;
  top:15%;
  left:5%;
  bottom:15%;
  overflow:auto;
  background:#fff;
  display:none;

  .content{
    padding:@large-padding;
    font-size:0.75em;

    h1{
      text-align:center;
    }
    h1,h2,h3,h4,h5,h6{
      margin-bottom:0.5em;
    }
  }

  button{    
    margin:0 @large-padding @small-margin / 2;
  }
}

// ==========================================================================
// Animations
// ==========================================================================

.fadein(){
  -webkit-animation:fadein 1s;
  -moz-animation:fadein 1s;
  -o-animation:fadein 1s;
  -ms-animation:fadein 1s;
  animation:fadein 1s;
}

@-webkit-keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
}
@-moz-keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
}
@-o-keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
}
@-ms-keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
}
@keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
}
