h1.services 我们的服务

section.introduction
  :markdown
    外部资产管理模式在欧洲已有超过100年的悠久历史，尤其在瑞士—有些瑞士银行所管理的总资产，高达30%是属于外部资产管理模式。展望未来，此趋势亦将成为亚洲财富管理的主流之一，因客户希望纳入外部资产管理人的参与和客观观点，以辅助现有的银行投资组合。

    我们的目标是针对个人财务所需，客制化并规划最佳可能策略与方案。

    我们了解客户会肯定良好建议的价值，和规划全面财富保值与增长的重要性，也正是此一原因，我们的产品与焦点并非仅仅在于积极增长客户的投资组合。

    此一平衡性原则，配合公司的开放式架构，使我们得以和私人银行及其他金融机构紧密合作，针对个别客户所需规划全面且客观的方案。

section.investment-philosophy
  h2 投资理念
  :markdown
    我们的投资理念基于我们相信透过积极与基本面的管理，以及致力于深度的、由下而上的研究和分析可以增添价值。我们专注而灵活的投资队伍能利用全球资源的优势，制定出最佳投资组合。积极风险管理是我们投资程序的重要步骤，因为长期而言，我们要追求的是具有竞争力的风险调整后回报。

section.risk-management
  h2 风险管理
  :markdown
    风险管理是我们投资的基本组成部分。基于这个理念，我们的投资程序目的在于建立多样化而且平衡的投资组合，这个组合在风险参数受到控制的情况下，可获取出色的长期表现。在环球和国际市场的投资上，AT财富管理一贯采取有纪律以及价值导向的方针。

hr

section.trusts
  h2 信托
  :markdown
    家庭信托是一个能够保有和保护您的资产，保障您和家人未来的合法途径（例如投资项目或物产）。资产的所有权将属于信托，而非个人，并且是由受托人 （例如其中一名家庭成员、律师或会计师）代所有受益人 （通常是家人）管理。

section.pic
  h2 私人投资公司
  :markdown
    建立一家私人投资公司来保有您的投资资产。股东可以委任董事、管理监督公司、签订合同及委托授权签字的银行账户的运作。实益拥有、管理及公司签署人可以多种方式组建，但它是一个独立的法律实体，能提供隐私和财富的保护管理。

section.structuring
  h2 建立私人基金
  :markdown
    无论您是要建立新的基金或为提高现有基金的新投资，我们有必要的联系网来助您在节税的方式下组建基金。

section.universal-life-insurance
  h2 人寿保险
  :markdown
    这是为了想要拥有寿险保护，又可以累积现金价值的客户所设计的。这个计划只需要最初的低现金支出，却具有现金价值，同时提供高保护。许多富人投资于人寿保险，目的在于遗产规划、商业继承及延续，以及提供慈善捐款.

section.charitable-foundations
  h2 慈善基金会
  :markdown
    若是您或家人希望长期做慈善，基金会能够让您如愿，同时享有税务和财产规划的最佳优惠。许多慈善家成立非营利组织，资助多种慈善事业，包括教育、医疗，济贫或其他社会福利活动。在新加坡，注册的慈善机构可享有所得税折扣。