div#site-intro

  img(src='/assets/img/me.jpg', alt='Lee Ellam').avatar

  :markdown
    Howdy. I'm **Lee Ellam** (aka leesus), a **UI developer and designer** residing in SW London.

    I'm **currently available for freelance projects**, so please read a bit [about me](/about/), take a look at [my resume](/resume/) and [my work](/work/) and if you'd like us to work together, drop me an [email](mailto:lee@lee-ellam.com) or give me a [call](tel:+447950414469).

    [GitHub](http://www.github.com/leesus) &nbsp;&middot;&nbsp; [Stack Overflow](http://stackoverflow.com/users/526973/lee) &nbsp;&middot;&nbsp; [LinkedIn](http://lnkd.in/EymQbv)