extend ../_partials/layout

block header
  != partial('../_partials/header')
             
block pre-content
  #main-image-wrapper

block content
  != yield

block footer
  != partial('../_partials/footer')