section.introduction
  div.image-wrap.image-wrap-large
    a.image-link(href="#andy-lim", title="Andy Lim")
      span.name Andy Lim
  div.image-wrap.image-wrap-small
    a.image-link(href="#teresa-tay", title="Teresa Tay")
      span.name Teresa Tay
  div.image-wrap.image-wrap-small
    a.image-link(href="#ryan-yang", title="Ryan Yang")
      span.name Ryan Yang
  div.image-wrap.image-wrap-small
    a.image-link(href="#cheah-chee-mun", title="Cheah Chee Mun")
      span.name Cheah Chee Mun
  div.image-wrap.image-wrap-small
    a.image-link(href="#joe-poulton", title="Joe Poulton")
      span.name Joe Poulton
  div.image-wrap.image-wrap-small
    a.image-link(href="#julie-sim", title="Julie Sim")
      span.name Julie Sim
  div.image-wrap.image-wrap-small
    a.image-link(href="#gerlyn-loh", title="Gerlyn Loh")
      span.name Gerlyn Loh

section.management-team
  div.team-member#andy-lim
    div.profile
      strong.name Andy Lim
      span.role Managing Director
    div.info
      :markdown
        Andy is the chief investment officer of AT Total Return Fund and the co-founder of AT Asset Management. He 
        has more than 12 years of wealth management experience with international banks where he manages high net 
        worth individuals’ investment portfolios. Andy employs bottom-up and value-oriented research and analysis 
        to produce above-average yields and total returns for the portfolio. His knowledge and experience in the 
        financial industry has given him an edge when it comes to developing absolute return investment strategies 
        with low portfolio volatility.
  
  div.team-member#teresa-tay
    div.profile
      strong.name Teresa Tay
      span.role Director
    div.info
      :markdown
        Teresa is a portfolio manager of AT Total Return Fund and the co-founder of AT Asset Management. She has 
        8 years of wealth management experience in the banking industry where she manages investment portfolios 
        of high net worth individuals from Asia Pacific. Teresa sits on the investment committee to provide her 
        expertise in effective portfolio construction and she oversees the ongoing daily operations within the 
        company. She earned her double degree in BBus (Accounting) / BBus (Banking & Finance) from Monash University 
        Australia with minors in Statistics and Economics.

  div.team-member#ryan-yang
    div.profile
      strong.name Ryan Yang
      span.role AWAITING ROLE
    div.info
      :markdown
        AWAITING BIO

  div.team-member#cheah-chee-mun
    div.profile
      strong.name Cheah Chee Mun, CFA
      span.role Portfolio Strategist
    div.info
      :markdown
        Cheah Chee Mun has 12 years of experience in the financial industry. He writes economic research and 
        develops portfolio strategies. He is also responsible for performing investment portfolio analysis and 
        monitoring portfolio risk. Prior to joining AT Asset Management, he assumed roles as Investment Advisor 
        and Regional Risk Controller at commercial and investment banks, which include Standard Chartered, Deutsche 
        and CIMB Bank. Cheah Chee Mun received a Bachelor of Science with Honors in Banking & Finance from the 
        University of London. He also holds the Chartered Financial Analyst (CFA) designation.

  div.team-member#joe-poulton
    div.profile
      strong.name Joe Poulton
      span.role Marketing & Business Development
    div.info
      :markdown
        Joe Poulton develops and implements sales and marketing strategies for the company and is responsible for 
        enhancing overall customer experience. Previous roles in Digital Media, Insurance & Investment firms have 
        provided him with a broad range of experience in both marketing and investment products. His most recent 
        role was as a Paraplanner at International Financial Services, servicing existing client’s investment 
        portfolios. Joe was trained in Multi-Media Design and Applied Digital Media in the United Kingdom.

  div.team-member#julie-sim
    div.profile
      strong.name Julie Sim
      span.role AWAITING ROLE
    div.info
      :markdown
        AWAITING BIO


  div.team-member#gerlyn-loh
    div.profile
      strong.name Gerlyn Loh
      span.role AWAITING ROLE
    div.info
      :markdown
        AWAITING BIO
