h1.our-team Our Team



section.intro
  :markdown
    We are proud of our diversity and the breadth of skills that we bring to our work. We are united behind our company values and committed to providing our investors with the best possible service. Our investors can be confident that our people are passionate and highly dedicated professionals.


section.introduction
  div.image-wrap.image-wrap-large.andylim
    a.image-link(href="#andy-lim", title="Andy Lim")
      span.name Andy Lim<br>Managing Director
  div.image-wrap.image-wrap-small.teresatay
    a.image-link(href="#teresa-tay", title="Teresa Tay")
      span.name Teresa Tay<br>Director
  div.image-wrap.image-wrap-small.ryanyang
    a.image-link(href="#ryan-yang", title="Ryan Yang")
      span.name Ryan Yang<br>Analyst
  div.image-wrap.image-wrap-small.cheahcheemun
    a.image-link(href="#cheah-chee-mun", title="Cheah Chee Mun")
      span.name Cheah Chee Mun<br>Portfolio Strategist
  div.image-wrap.image-wrap-small.joepoulton
    a.image-link(href="#joe-poulton", title="Joe Poulton")
      span.name Joe Poulton<br>Business Development
  div.image-wrap.image-wrap-small.juliesim
    a.image-link(href="#julie-sim", title="Julie Sim")
      span.name Julie Sim<br>Accounts Executive
  div.image-wrap.image-wrap-small.gerlynloh
    a.image-link(href="#gerlyn-loh", title="Gerlyn Loh")
      span.name Gerlyn Loh<br>Executive Secretary