h1.our-team Our Team

section.introduction
  :markdown
    We are proud of our diversity and the breadth of skills that we bring to our work. We are united behind our company values and committed to providing our investors with the best possible service. Our investors can be confident that our people are passionate and highly dedicated professionals.

section.caption
  :markdown
    From left to right: Joe Poulton, Gerlyn Loh, Andy Lim, Teresa Tay, Julie Sim, Cheah Chee Mun, Ryan Yang