h1.services Fund management

section.fund-management
  :markdown
    The AT Total Return Fund's investment objective is to maximise total return through a combination of interest
    income, capital appreciation, and currency gains. The strategy invests primarily in a portfolio
    of investment grade and non-investment grade debt securities issued by corporate entities
    worldwide, consistent with capital growth and to provide a steady stream of dividend
    income. The portfolio may gain 20% exposure in equities and utilize up to 50% leverage
    exposure in the underlying instruments.