h1.services Tailored solutions

section.trusts
  h2 Trusts
  :markdown
    A family trust is a legal way to hold and protect your assets for you and your family for the future (e.g. investments 
    or property). The assets will be owned by the trust rather than by an individual, and are managed by trustees (e.g. a 
    family member, a lawyer, or an accountant) for the beneficiaries, who are usually family members.

section.pic
  h2 PIC
  :markdown
    A PIC is a corporation established to hold your investment assets. Shareholders can appoint Directors, have management 
    oversight of the PIC, enter into contracts, and delegate the operation of bank accounts to authorised signatories. 
    The beneficial ownership, management and signatories of the PIC can be structured in multiple ways; yet it is a separate 
    legal entity that offers privacy and wealth protection benefits.

section.structuring
  h2 Structuring
  :markdown
    Whether you are looking to establish a new fund or raise new investment for an existing fund, we have necessary contacts to 
    structure your fund in a tax efficient manner.

section.universal-life-insurance
  h2 Universal life insurance
  :markdown
    This solution is designed for customers who want life insurance protection with potential cash value accumulation. Such 
    plans provide the ability to leverage against the cash value with low initial cash outlay and high coverage. Many wealthy 
    individuals invest in universal life insurance for legacy planning, business succession and continuity, and providing 
    charitable gifts for their philanthropic goals.

section.charitable-foundations
  h2 Charitable foundations
  :markdown
    If you or your family wish to make a meaningful and long-lasting contribution for a charitable purpose, a foundation could 
    allow you to achieve your goals while maximising your tax and estate planning benefits. Many philanthropists set up non-profit 
    organisations to fund a wide variety of charitable causes, whether for the advancement of education, healthcare, relief of 
    poverty and other social well-being activities. In Singapore, registered charities will receive income tax exemption benefits.