year = (new Date()).getFullYear()

footer#site-footer(role='contentinfo')
  div.info
    img(src='', alt='AT Asset Management')
    div.copyright AT Asset Management &copy; #{year}.
    div.registration Registration Number 2012125880.

  nav
    ul.footer-navigation
      li
        a(href='/our-company', title='Our Company') Our Company
      li
        a(href='/services', title='Services') Services
      li
        a(href='/performance', title='Performance') Performance
      li
        a(href='/contact', title='Contact') Contact
      li
        a(href='/sitemap', title='Sitemap') Sitemap
      li
        a(href='/disclaimer', title='Disclaimer') Disclaimer