- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1.performance 投资表现

section.introduction
  :markdown
    我们的投资理念基于我们相信透过积极与基本面的管理，以及致力于深度的、由下而上的 研究和分析可以增添价值。我们专注而灵活的投资队伍能利用全球资源的优势，制定出最 佳投资组合。积极风险管理是我们投资程序的重要步骤，因为长期而言，我们要追求的是 具有竞争力的风险调整后回报。

  p 
    | 如果您想进一步了解关于本公司的投资资料和表现，请 
    a(href='#{baseUrl}/zh/yu-wo-men-lian-xi', title='与我们联系') 与我们联系
    | 。