- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1.our-fund 我们的基金

section.introduction
  :markdown
    我们的基金采用多策略的投资方式，挖掘全球机遇总回报, 同时拥有锁定资本增值、稳定收入和持续回报的能力。

  p 
    | 如果您想了解更多信息，请与我们 
    a(href='#{baseUrl}/contact', title='Contact us') 联系
    | 。