- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1.our-fund Our Fund

section.introduction
  :markdown
    The Fund employs a multi strategy investment approach, tapping global opportunities to maximise total return and seeking to produce consistent outperformance over the long term.

  p 
    | If you would like further information please 
    a(href='#{baseUrl}/contact', title='Contact us') contact us
    | .