- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1.our-company 我们公司

section.introduction
  :markdown
    作为一家追求绩效的全球宏观管理机构，我们有能力评估经济局势，在各个金融市场作出睿智的决策。我们的团队充满热情、放眼全球，掌握当前良机。

blockquote 
  | 我们相信长期的联系是建立在亮丽表现与服务品质上。客户赢，我们就赢。

  cite
    strong Andy Lim
    span 执行董事

h2.title 理念

section.introduction#philosophy
  :markdown
    AT资产管理超越单纯投资，更放眼建立强而有力的客户联系，并达成持续连贯的成果。我们努力在第一时间看准市场的发展趋势，并且凭着丰富的经验和技巧，正确地解读市场动态，在变化莫测的环境中找出最引人瞩目的投资机会。

    我们不断地追求成功与卓越表现，秉持着财务纪律和长期眼光的原则。 我们的投资理念基于我们相信透过积极与基本面的管理，以及致力于深度的、由下而上的研究和分析可以增添价值。

    我们相信对基本面的正确了解和诠释对于掌握未来航向至关重要。我们的综合团队架构让我们能对市场的机遇迅速作出反应。通过团队合作和独立思考，我们创造了一个有利于追求卓越的开放环境。