- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1.our-company Our company

section.introduction
  :markdown
    A highly passionate team with a global perspective, we embrace the world of opportunities ahead of us. We are a performance-driven Global Macro Manager with the ability to assess the economic landscape and make the insightful decisions needed in every financial market.

blockquote 
  | We believe in long term relationships that are built upon high levels of performance and quality of service.
  | When our clients do well, we do well.
  cite
    strong Andy Lim
    span Managing Director

h2.title Philosopshy

section.introduction#philosophy
  :markdown
    At AT Asset Management we go beyond investment, building strong client relationships and delivering consistent results. Driven by care, passion and the commitment to excellence, we work hard to identify market trends as they happen.

    Constantly striving for success and committed to excellence, we operate with financial discipline and a long term perspective. Our investment philosophy is based on the belief that value can be added through active, fundamental management with a commitment to in-depth, bottom-up research and analysis. We believe that understanding and interpreting fundamentals are crucial to successfully navigating what lies ahead. Through collaboration and independent thought, we create an open environment that is conducive to producing excellence.
