- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1 404 - Page not found

p The page you are looking for no longer exists.

p: a(href='#{baseUrl}/', title='Click here to go back to the homepage') Click here to go back to the homepage