- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

section.our-company
  h2 关于我们
  :markdown
    在AT财富管理,您的成功就是我们的成功。我们的目标是设计出最佳策略以满足您的需求。我们提供亚洲和欧洲市场的专业咨询，助您达成目标。我们的特点就是对客户开放透明，所以您可以安心地把投资规划交给我们。

  p: a(href='#{baseUrl}/zh/guan-yu-wo-men', title='阅读更多') 阅读更多

section.services
  h2 我们的服务
  :markdown
    **建立财富。管理财富。财富保值。财富移交。**

    我们与客户密切合作,通过运用综合投资解决方案保持和保存他们的财富。

  p: a(href='#{baseUrl}/zh/wo-men-de-fu-wu', title='阅读更多') 阅读更多

section.performance
  h2 投资表现
  :markdown
    我们的投资理念基于我们相信透过积极与基本面的管理，以及致力于深度的、由下而上的研究和分析可以增添价值。我们专注而灵活的投资队伍能利用全球资源的优势，制定出最佳投资组合。积极风险管理是我们投资程序的重要步骤，因为长期而言，我们要追求的是具有竞争力的风险调整后回报。

  p: a(href='#{baseUrl}/zh/tou-zi-biao-xian', title='阅读更多') 阅读更多

    