- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

section.our-company
  h2 Our company
  :markdown
    At AT Asset Management we measure our success by yours. Our aim is to develop the best possible strategies 
    in order to assist in servicing your needs. To fulfil our ambition of meeting your goals, we provide you with 
    access to specialists spanning Asia and Europe. Our transparency is a key feature in our relationship and allows 
    you relax, whilst we take care of the rest.

  p: a(href='#{baseUrl}/our-company', title='Read more about our company') Read More

section.services
  h2 Services
  :markdown
    **Build Wealth. Manage Wealth. Preserve Wealth. Transition Wealth.**

    We work closely with our clients to design plans and structures for holding and preserving their wealth through 
    the use of comprehensive investment solutions.

  p: a(href='#{baseUrl}/services', title='Read more about our services') Read More

section.performance
  h2 Performance
  :markdown
    Our investment philosophy is based on the belief that value can be added through active, fundamental management 
    with a commitment to in-depth, bottom-up research and analysis. Our focused, nimble investment team makes 
    portfolio decisions and are supported by global resources. Active risk management is integral to our investment 
    process as we seek competitive risk-adjusted returns over the long-term.

  p: a(href='#{baseUrl}/performance', title='Read more about our performance') Read More

    