- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1.our-fund The AT Total Return Fund

section.introduction
  :markdown
    The AT Total Return Fund capitalises on our fixed income expertise. We believe the value of active portfolio management is the conversion of risk into alpha. Placing an emphasis on sector rotation, broad market exposure and active currency management, we provide a diversified way to access global bond opportunities.

  p 
    | If you would like further information regarding AT Asset Management's funds please 
    a(href='#{baseUrl}/contact', title='Contact us') contact us
    | .