- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1.our-fund AT Total Return Fund

section.introduction
  :markdown


  p 
    | If you would like further information regarding AT Asset Management's investment performance please 
    a(href='#{baseUrl}/contact', title='Contact us') contact us
    | .