- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1.our-fund AT Total Return Fund

section.introduction
  :markdown
    The AT Total Return Fund's investment objective is to maximise total return through a combination of interest
    income, capital appreciation, and currency gains. The strategy invests primarily in a portfolio
    of investment grade and non-investment grade debt securities issued by corporate entities
    worldwide, consistent with capital growth and to provide a steady stream of dividend
    income. The portfolio may gain 20% exposure in equities and utilize up to 50% leverage
    exposure in the underlying instruments.

  p 
    | If you would like further information regarding AT Asset Management's investment performance please 
    a(href='#{baseUrl}/contact', title='Contact us') contact us
    | .