- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1.our-fund Our Fund

section.introduction
  :markdown
    The fund seeks to capitalises on our fixed income expertise and maximise total returns in Singapore Dollar terms over the long term by investing in a portfolio of high quality debt securities in major global bond markets such as the GIO countries and Australia and New Zealand.

  p 
    | If you would like further information regarding AT Asset Management's funds please 
    a(href='#{baseUrl}/contact', title='Contact us') contact us
    | .