h1.our-team 公司团队

section.introduction
  :markdown
    我们团队的多样性和广阔的技能背景值得自豪。在公司的共同价值观之下，我们的队伍团结一致，争取为投资者提供最好的服务。我们这一支热情和高度敬业的专业队伍值得投资者的信任。

section.caption
  :markdown
    From left to right: Joe Poulton, Gerlyn Loh, Andy Lim, Teresa Tay, Julie Sim, Cheah Chee Mun, Ryan Yang.
